<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.health.pro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- baidumap begin -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- baidumap end -->
    <!-- 浮动窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 极光推送 -->
    <permission
        android:name="cn.com.health.pro.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.com.health.pro.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="cn.com.health.pro.config.HealthApplication"
        android:allowBackup="true"
        android:icon="@drawable/life0"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InfoSearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InfoDetailActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <!-- 进入分享信息的入口页面 -->
        <activity android:name=".SharePrepareActivity" >
        </activity>
        <activity android:name=".ShareMineActivity" >
        </activity>
        <activity android:name=".ShareHealthActivity" >
        </activity>
        <activity android:name=".ShareSportsActivity" >
        </activity>
        <activity android:name=".ShareEatActivity" >
        </activity>
        <activity android:name=".ShareSelectPicActivity" >
        </activity>
        <!-- 关于空间分页 -->
        <activity android:name=".MineSpaceActivity" >
        </activity>
        <activity android:name=".ShareSentenceAllDetailActivity" >
        </activity>
        <!-- 关于登陆 -->
        <activity android:name=".AppStartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppLoginStartActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".AppLoginLoadingActivity" >
        </activity>
        <activity android:name=".AppLoginRegActivity" >
        </activity>
        <activity
            android:name=".AppRegActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 关于搜索添加好友 -->
        <activity
            android:name=".FriendSearchResultActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".FriendSeachOpsActivity" >
        </activity>
        <activity android:name=".ShowUserInfoDetail" >
        </activity>
        <activity android:name=".EditUserInfoDetail" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>

        <!-- 关于登陆后的主页面 -->
        <activity android:name=".MainPageLayoutSpaceActivity" >
        </activity>
        <activity android:name=".MainPageLayoutMeActivity" >
        </activity>
        <activity android:name=".MainPageLayoutInfoActivity" >
        </activity>
        <activity android:name=".CommonPicJazzActivity" >
        </activity>
        <activity android:name=".MainPageLayoutMeFocusMeActivity" >
        </activity>
        <activity android:name=".MainPageLayoutMeMyFocusActivity" >
        </activity>
        <activity android:name=".MainPageLayoutMeCollectionActivity" >
        </activity>
        <activity android:name=".MainPageLayoutOrderActivity" >
        </activity>
        <activity android:name=".MainPageLayoutTagActivity" >
        </activity>
        <activity android:name=".ShareByTagActivity" >
        </activity>
        <activity android:name=".FirstLoginTopUserListLayout" >
        </activity>

        <!-- 关于信息分类 -->
        <activity android:name=".InfoTypeListviewActivity" >
        </activity>
        <activity android:name=".ListDocByTypeActivity" >
        </activity>
        <!-- 关于标签 -->
        <activity android:name=".TagsForUserActivity" >
        </activity>
        <!-- 测试activity -->
        <activity android:name=".TestActivity" >
        </activity>

        <!-- 推送相关begin -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.com.health.pro" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="cn.com.health.pro" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="cn.com.health.pro.receiver.MyReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.com.health.pro" />
            </intent-filter>
        </receiver>
        <!-- 推送相关end -->
        <service android:name="cn.com.health.pro.service.ViewForInfoService" >
        </service>
        <service android:name="cn.com.health.pro.service.ShareCommentService" >
        </service>
        <service android:name="cn.com.health.pro.service.CollectionForInfoService" >
        </service>
        <service android:name="cn.com.health.pro.service.DocCommentService" >
        </service>
        <!-- 定位相关 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Cu6wnWYGHTQs3tNlj8UaUgVh" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="2f2bbdcd69bf3749b8577f22" />
        <!-- </>值来自开发者平台取得的AppKey -->
    </application>

</manifest>